* {
	margin: 0;
	padding: 0;
	transition: all .2s;
}
main {
	width: 1024px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 0 0 80px 0;
}
header {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}
h1 {
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight: normal;
	font-size: 32px;
	text-transform: uppercase;
	color: #263555;
	padding: 60px 0 45px 15px;
}
h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight: normal;
	font-size: 32px;
	line-height: 32px;
	text-transform: uppercase;
	color: #263555;
}
h3 {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	color: #263555;
}
.wrapper {
	background: url(../img/backg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 2112px;
}
.circle {
	background: #ffffff;
	height: 138px;
	width: 138px;
	border-radius: 50%;
	left: 443px;
	top: 46px;
}
.logo {
	font-family: Dorsa;
	color: #263555;
	font-size: 59.58px;
	line-height: 137px;
	text-align: center;
	display: flex;
	justify-content: center;
}
ul {
	list-style: none;
}
.menu__item > a,
.submenu__item > a {
	display: inline-block;
	text-decoration: none;
}
.submenu__item>a {
	width: 65px; 
} 
.menu__item>a {
	width: 65px;
	height: 40px;
	color: #ffffff;
}
.menu__item>a:hover {
	color: #263555;
}
.submenu__item>a:hover {
	background-color: lightgray;
	color: black;
}
.submenu {
	display: none;
	text-align: center;
	position: absolute;
	list-style: none;
	background-color: #f2f2f3;
	line-height: 23px;
	width: 66px;
	border-radius: 3px;
	height: 83px;
	margin-top: -4px;
	padding-top: 1px;
}
.submenu:before {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 3px 5.2px 3px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	top: -5px;
	left: 30px;
}
.menu__item:hover>.submenu {
	display: block;
}
li {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 28px;
	color: #ffffff;
}
.submenu__item {
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20px;
	line-height: 26px;
}
.to-top {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #38afe5;
	position: fixed;
	top: 880px;
	right: 330px;
}
.to-top:after {
	content: url("../img/top.png");
	position: absolute;
	top: 5px;
	left: 9px; 
}
.footer-top {
	background-color: #30455b;
	padding: 33px 0;
	width: 1024px;
	margin: 0 auto;
}
.box > a {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	margin: 0 0 10px 0
}
a:hover {
	color: orange;
	filter: drop-shadow(16px -10px 2px rgba(0,0,0,0.9));
}
.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer-bottom {
	height: 130px;
}
.social-links {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.social-links > a {
	margin: 20px 5px 25px;
	filter: opacity(.8);
}
.bg-facebook {
	width: 40px; height: 40px;
	background: url("../img/css_sprites1.png") no-repeat -10px -10px;
}
.bg-google {
	width: 40px; height: 40px;
	background: url("../img/css_sprites1.png") no-repeat -70px -10px;
}
.bg-in {
	width: 40px; height: 40px;
	background: url("../img/css_sprites1.png") no-repeat -10px -70px;
}
.bg-tw {
	width: 40px; height: 40px;
	background: url("../img/css_sprites1.png") no-repeat -70px -70px;
}
.social-links a:hover {
	filter: saturate(9) drop-shadow(0px 0px 10px rgba(0,0,0,1));
}
.copy {
	color: #ffffff;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	text-align: center;
}
.lorem-details {
	font-family: Arial, sans-serif;
	font-size: 10.41px;
	line-height: 15.21px;
	color: #cbc6c6;
	padding: 5px;
}
.openS {
	color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30.42;
}
.middle {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 230px;
	width: 90%;
	margin: 0 auto;
}
.menu__item {
	margin-left: 20px;
	margin-right: 20px;
}
.journey-box {
	margin: 0 60px 0;
}
.box > li > a {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	line-height: 14px;
	margin: 0;
}
.box > li > a:hover {
	color: orange;
	filter: drop-shadow(16px -10px 2px rgba(0,0,0,0.9));
}
.cont-us > li > p {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}
.cont-us > li > a {
	text-decoration: none;
	color: #ffffff;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	line-height: 19px;
}
.cont-us > li > a:hover {
	color: orange;
	filter: drop-shadow(16px -10px 2px rgba(0,0,0,0.9));
}
.footer-li {
	display: flex;
	justify-content: space-around;
}
.cont-us {
	display: flex;
	flex-direction: column;
}
.cont-us > li {
	font-size: 15px;
}

/*Нумерация списка*/
div.num-1:before {
	background-color:#38afe5;
	color: #ffffff;
	width:30px;
	height:30px;
	content:"1";
	float: left;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
}
div.num-2:before {
	background-color:#38afe5;
	color: #ffffff;
	width:30px;
	height:30px;
	content:"2";
	float:left;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
}
div.num-3:before {
	background-color:#38afe5;
	color: #ffffff;
	width:30px;
	height:30px;
	content:"3";
	float:left;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
}
.text-block {
	margin-left: 40px;
}

.block-unmarkedList ul {
	list-style-image: url(../img/pointer.png);
	margin-left: 15px;
}
.block-unmarkedList {
	-moz-column-count: 2;
	-webkit-column-count: 2;
}
.block-unmarkedList li {
	margin-bottom: 20px;
	color: #263555;
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #263555;
	line-height: 22.8px;
}

.square {
	background: #fcfafa;
	border: 1px solid #dfdcdc;
	border-radius: 1px;
	-moz-border-radius: 5px;
	position: relative;
	/*height: 192px;
	width: 208px;*/
	margin: 25px 0 35px 0;
}
.square:after, .square:before {
	content: '';
	border: solid transparent;
	position: absolute;
	left: 45%;
	margin-left: -17px;
	bottom: -60px;
	width: 0;
}
.square:before {
	border-top-color: #dfdcdc;
	border-width: 30px;
}
.square:after {
	border-top-color: #fcfafa;
	border-width: 31px;
	margin-left: -18px;
}
.cite-text {
	font-size: 15px;
	font-family: Arial;
	line-height: 19px;
	padding: 17px 21px;
}
.cite-text:before {
	content: "\201C";
}
.cite-text:after {
	content: " \201D";
}


@media (max-width: 1024px) {
	/*START Header content*/
	header {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
	}
	nav {
		margin: 0 auto;
		width: auto;
		position: inherit;
		height: 230px;
	}
	.journey-box {
		margin: 0;
	}
	.middle {
		width: 41%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0  auto;
		padding: 120px 0 0 0;
		height: 100px;
	}
	.circle {
		position: absolute;
		height: 100px;
		width: 100px;
		left: 43%;
		top: 2%;
	}
	.logo {
		line-height: 100px;
		font-size: 43.6px;
	}
	main {
		width: 768px;
	}
	/*START Footer content*/
	footer {
	}
	.footer-top {
		width: 768px;
		margin: 0 auto;
	}
	.cite-text {
    padding: 5px;
	}
}
@media (max-width: 768px) {
	header {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
	}
	nav {
		margin: 0 auto;
		width: auto;
		position: inherit;
		height: 240px;
	}
	.journey-box {
		margin: 0;
	}
	.middle {
		width: 67%;
		max-width: 400px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0  auto;
		padding: 105px 0 0 0;
		/*height: 100px;*/
	}
	.circle {
		position: absolute;
		height: 80px;
		width: 80px;
		left: 43%;
		top: 2%;
	}
	.logo {
		line-height: 80px;
		font-size: 33.24px;
	}
	/* START Centr content*/
	main {
		width: 480px;
		padding: 0 0 75px 0;
	}
	h1 {
		padding: 60px 0 35px 35px;
	}
	/*START Footer content*/
	.footer-top {
		width: 480px;
	}
	.box > li > a {
		text-decoration: none;
		color: #ffffff;
		text-transform: uppercase;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 14px;
		line-height: 12px;
		margin: 0;
	}
	.cont-us > li > p {
		text-decoration: none;
		color: #ffffff;
		text-transform: uppercase;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 14px;
	}
	.cont-us > li > a {
		text-decoration: none;
		color: #ffffff;
		/*text-transform: uppercase;*/
		font-family: 'Arial', sans-serif;
		font-size: 10px;
		line-height: 15px;
		margin: 0 0 0 6px;
	}
	.little-phone {
		align-items: center;
		display: flex;
		line-height: 16px;
		justify-content: center;
	}
	.little-phone:before {
		content: url(../img/icon-phone.png);
	}
	.little-letter {

	}
	.little-letter:before {
		content: url(../img/icon-letter.png);
	}
	.footer-li {
		flex-wrap: wrap;
	}
	.footer-top {
		padding: 25px 0;
	}
	.cont-us {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.box > li {
		font-size: 20px;
	}
	.box-image {
		overflow: hidden;
		height: 100px;
	}

}

/*Bootstrap*/
.row {
	flex-flow: row wrap;
	display: flex;
}
.cont-main {
	width: 100%
}
.image-top {
	width: 100%;
}
.cont-middle {
	border-bottom: 1px solid #dedbdb;
	padding-bottom: 40px;
}
/*.number-list {
	border-bottom: 1px solid #dedbdb;
	padding-bottom: 40px;
}*/