div.footer-box
	div.footer-box__footer-content
		ul.footer-content__box.box-1
			li.box__item
				a(href="#") faqs page
			li.box__item
				a(href="#") people say
		ul.footer-content__box.box-2
			li.box__item
				a(href="#") useful links
			li.box__item
				a(href="#") partners
		ul.footer-content__box.box-3
			li.box__item
				a(href="#") insurance
			li.box__item
				a(href="#") family travel
		ul.footer-content__cont-us
			li.cont-us__item
				p contact us:
			li.cont-us__little-phone
				a(href="tel:1-800-234-5678") TEL: +1-800-234-5678
			li.cont-us__little-letter
				a(href="mailto:info@demolink.org") info@demolink.org
