.social-info {
	margin: 0 auto;
	max-width: 1024px;
}
.social-info__links {
	display: flex;
	justify-content: space-around;
	width: 20em;
	margin: 0 auto;
	padding: 20px 0;
}
.links__facebook {
	background-image: url(../assets/facebook.svg);
	display: block;
  	width: 40px;
  	height: 40px;
  	background-size: 40px 40px;
  	border-radius: 50%;
}
.links__googleplus {
	background-image: url(../assets/googleplus.svg);
	display: block;
  	width: 40px;
  	height: 40px;
  	background-size: 40px 40px;
  	border-radius: 50%;
}
.links__twitter {
	background-image: url(../assets/twitter.svg);
	display: block;
  	width: 40px;
  	height: 40px;
  	background-size: 40px 40px;
  	border-radius: 50%;
}
.links__github {
	background-image: url(../assets/github.svg);
	display: block;
  	width: 40px;
  	height: 40px;
  	background-size: 40px 40px;
  	border-radius: 50%;
}
.social-info__copyright > p {
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 0 0 20px 0;
}