div.social-info
	div.social-info__links
		a.links__facebook(href="#")
		a.links__googleplus(href="#")
		a.links__twitter(href="#")
		a.links__github(href="#")
	div.social-info__copyright
		p Journey © 2013 | Privacy Policy | Website designed by TemplateMonster.com 
