nav.header-nav
	ul.header-nav__panel
		li.header-nav__item
			a(href="#") HOME
		li.header-nav__item
			a(href="#") ABOUT
			ul.submenu
				li.submenu__item
					a(href="#") AGENCY
				li.submenu__item
					a(href="#") NEWS
				li.submenu__item
					a(href="#") TEAM
		li.header-nav__item
			a(href="#") GALLERY
		li.header-nav__item__journey
			ul.circle
				li.logo JOURNEY
		li.header-nav__item
			a(href="#") BLOG
		li.header-nav__item
			a(href="#") TOURS
		li.header-nav__item
			a(href="#") CONTACTS