main.main-content
	h1.main-content__caption OUR GALLERY
	div.main-content__gallery
		div.gallery__item1.gallery__photos 
			img.img-zoom(alt="zoom-image", src="../assets/glass.svg")
		div.gallery__item2.gallery__photos 
			img.img-zoom(alt="zoom-image", src="../assets/glass.svg")
		div.gallery__item3.gallery__photos 
			img.img-zoom(alt="zoom-image", src="../assets/glass.svg")
		div.gallery__item4.gallery__photos 
			img.img-zoom(alt="zoom-image", src="../assets/glass.svg")
		div.gallery__item5.gallery__photos 
			img.img-zoom(alt="zoom-image", src="../assets/glass.svg")
		div.gallery__item6.gallery__photos 
			img.img-zoom(alt="zoom-image", src="../assets/glass.svg")
		div.gallery__item7.gallery__photos 
			img.img-zoom(alt="zoom-image", src="../assets/glass.svg")
		div.gallery__item8.gallery__photos 
			img.img-zoom(alt="zoom-image", src="../assets/glass.svg")
		div.gallery__item9.gallery__photos 
			img.img-zoom(alt="zoom-image", src="../assets/glass.svg")
